<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Home</title>
  </head>
  <body>
    <section id="main-wrapper">
      <nav id="main-navbar">
        <div id="logo">
          <div id="logo-body">
            <a href="{{ url_for('index') }}">
              <span id="logo-txt">PJ</span>
            </a>
          </div>
        </div>
        <section id="search-bar">
          <form id="form-search" action="{{ url_for('busqueda') }}" method="post, get">
            <button id="search-btn">
              <span class="material-icons-round"> search </span>
            </button>
            <input name="busqueda" type="text" placeholder="Buscar empleo" value = "{{termino}}"/>
          </form>
        </section>
        <section id="nav-btns">
          <a href="homepage.html" class="nav-btn">
            <span class="material-icons-round"> home </span>
            Inicio
          </a>
          <a href="#" class="nav-btn">
            <span class="material-icons-round"> person </span>
            Perfil
          </a>
          <a href="#" class="nav-btn">
            <span class="material-icons-round"> notifications </span>
            Alertas
          </a>
          <button class="nav-btn" id="dark-mode-toggle">
            <span class="material-icons-round"> dark_mode </span>
            Tema
          </button>
          <a href="{{ url_for('logout') }}" class="nav-btn">
            <span class="material-icons-round"> logout </span>
            Salir
          </a>
        </section>
      </nav>
      <aside id="sidebar">
        <section id="sidebar-btns">
          <div class="sidebar-btn">
            <a href="#">
              <span>Recomendados</span>
              <span class="material-icons-round"> recommend </span>
            </a>
          </div>
          <div class="sidebar-btn">
            <a href="{{ url_for('guardados') }}">
              <span>Guardados</span>
              <span class="material-icons-round"> bookmark </span>
            </a>
          </div>
          <div class="sidebar-btn">
            <a href="{{ url_for('postulados') }}">
              <span>Postulados</span>
              <span class="material-icons-round"> task </span>
            </a>
          </div>
          <div class="sidebar-btn">
            <a href="#">
              <span>Configuración</span>
              <span class="material-icons-round"> settings </span>
            </a>
          </div>
        </section>
        <section id="profile-resume">
          <div class="profile-pic-container">
            <img
              src="https://randomuser.me/api/portraits/women/17.jpg"
              alt="Foto de perfil"
              class="profile-pic"
            />
          </div>
          <div class="profile-info">
            <span class="profile-name">{{info_usu.0}} {{info_usu.1}}</span>
            <span class="profile-role">Software Engineer</span>
            <span class="profile-location">Palo Alto, California</span>
            <a href="login.html">¿no eres tu?</a>
          </div>
        </section>
      </aside>
      <section id="filter-bar">
        <div class="filter-option">
          <span>Fecha de publicacion</span>
          <span class="material-icons-round"> arrow_drop_down </span>
        </div>
        <div class="filter-option">
          <span>Ubicacion del empleo</span>
          <span class="material-icons-round"> arrow_drop_down </span>
        </div>
        <div class="filter-option">
          <span>Rango salarial</span>
          <span class="material-icons-round"> arrow_drop_down </span>
        </div>
        <div class="filter-option">
          <span>Nivel de experiencia</span>
          <span class="material-icons-round"> arrow_drop_down </span>
        </div>
      </section>
      <section id="job-list">

        {% for job in empleos %}
        <a href="/{{path}}{{job.4}}" id = "link">
        <div class="job-card">
          <div class="img-job-container">
            <img
              src = {{job.3}}
              alt="Logo de la empresa"
            />
          </div>
          <div class="job-info">
            <span class="job-title"> {{job.0}} </span>
            <span class="job-company"> {{job.2}} </span>
            <span class="job-location"> {{job.1}} </span>
          </div>
        </div>
        </a>
        {% endfor %}

          {% with messages = get_flashed_messages() %}
            {%  if messages %}
              {% for m in messages%}
              <p>{{m}}</p>
              {% endfor %}
          {% endif %}
        {% endwith %}

      </section>

      
      {% if empleo_seleccionado %}
      <section id="job-display">
        
        <div class="job-resume">
          <div class="job-data">
            <span class="job-title">{{empleo_seleccionado.0}}</span>
            <span class="job-company">{{empleo_seleccionado.2}}</span>
            <span class="job-location">{{empleo_seleccionado.1}}</span>
            <span class="job-date">2021/10/11</span>
          </div>
          <div class="img-job-container">
            <img
              src="https://d31i9b8skgubvn.cloudfront.net/folder/logos/348_logo_UPomeRiXO2iK4PVc.png"
              alt="Logo de la empresa"
            />
          </div>
        </div>
        
        <div class="job-text">
          <span class="job-text-em">Descripción del puesto</span>
          {{empleo_seleccionado.4}}
        </div>
        <div class="job-options">
          <div class="job-option"><span>No me interesa</span></div>
          <div class="job-option">Guardar</div>
          <div class="job-option">Postularse</div>
        </div>
      </section>
    </section>
    {% endif  %}
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
  </body>
</html>
