/*** GENERAL ***/

:root {
  --light-body-color: #f1f1f1;
  --light-box-color: #ffffff;
  --light-main-color: #1666c5;
  --light-shadow-box: rgba(0, 0, 0, 0.25);
  --search-bar-color: #e9e9e9;
  --search-bar-text: #606470;
  --light-text-gray: #3a3a3a;
  --light-text-grey: #9593a0;
  --light-link-text: #0645ad;
  --ligth-green-tag: #5cb85c;
  --light-option-hover: #1358ac;
  --options-color: #fff;
}

.darkmode {
  --light-body-color: #171717;
  --light-box-color: #444444;
  --light-text-gray: #ededed;
  --light-text-grey: #ededed;
  --light-main-color: #367fd8;
  --ligth-green-tag: #78f278;
  --light-link-text: #3f97ff;
  --light-option-hover: #336cb1;
  color: #ededed;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-body-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#main-wrapper {
  display: grid;
  grid-template-columns: 250px auto auto;
  grid-template-rows: auto 90px auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/*** NAVBAR ***/

#main-navbar {
  grid-column: 1/4;
  grid-row: 1/2;
  /* height: 100px; */
  /* flex-basis: 1; */
  display: flex;
  /* top: 0; */
  /* left: 0; */
  /* width: 100vw; */
  /* justify-content: flex-start; */
  align-items: center;
  padding: 1rem;
  background-color: var(--light-box-color);
}

#logo {
  width: 234px;
}

#logo-body {
  width: 100px;
  height: 80px;
  margin: 0px auto;
  font-family: "Fira Sans", sans-serif;
  font-size: 4rem;
  text-align: center;
  color: var(--light-body-color);
  background-color: var(--light-main-color);
  border-radius: 10px;
  box-shadow: 0px 4px 4px var(--light-shadow-box);
}

#logo-body > a {
  display: block;
  color: var(--light-box-color);
  text-decoration: none;
}

#search-bar {
  /* margin-left: 100px; */
  width: 400px;
}

#form-search {
  display: flex;
  background-color: var(--search-bar-color);
  padding: 0.5rem;
}

/* #form-search:hover {
  border: 1px solid var(--light-main-color);
} */

#search-btn {
  background-color: var(--search-bar-color);
  border: none;
  color: var(--search-bar-text);
}

#search-btn:hover {
  color: var(--light-main-color);
  cursor: pointer;
}

input[name="busqueda"] {
  background-color: var(--search-bar-color);
  border: none;
  width: 100%;
}

input[name="busqueda"]::placeholder {
  color: var(--search-bar-text);
  font-weight: 700;
  opacity: 1;
}

input[name="busqueda"]:focus {
  outline: none;
}

/*** SIDEBAR ***/

#sidebar {
  display: flex;
  max-width: 250px;
  grid-column: 1/2;
  grid-row: 2/4;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  background-color: var(--light-box-color);
  /* position: fixed; */
  /* bottom: 0; */
}

#nav-btns {
  display: flex;
  width: 45%;
  margin: 0px auto;
  /* margin-left: 200px; */
  /* align-items: flex-end; */
  /* flex-basis: 1; */
  /* margin-left: 100px; */
  /* justify-content: center; */
}

.nav-btn {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  text-decoration: none;
  color: var(--light-text-gray);
  text-align: center;
  /* margin-left: 30px; */
  border: none;
  background-color: inherit;
}

.nav-btn:hover {
  color: var(--light-main-color);
  cursor: pointer;
}

#sidebar-btns {
  display: flex;
  width: 70%;
  padding-bottom: 40px;
  flex-direction: column;
  border-bottom: 0.5px solid var(--light-text-grey);
}

.sidebar-btn {
  text-align: center;
}

.sidebar-btn > a {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 16px;
  text-decoration: none;
  color: var(--light-text-grey);
  margin-top: 50px;
}

.sidebar-btn > a:hover {
  color: var(--light-box-color);
  background-color: var(--light-main-color);
  box-shadow: 0px 4px 4px var(--light-shadow-box);
}

#profile-resume {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 70%;
  align-items: center;
}

.profile-pic-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 15px;
}

.profile-pic {
  border-radius: 16px;
  box-shadow: 0px 4px 4px var(--light-shadow-box);
  width: 110px;
  height: 110px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  /* align-items: center; */
}

.profile-info > span {
  /* display: block; */
  margin-bottom: 5px;
}

.profile-info > .profile-name {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.profile-info > a {
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--light-link-text);
}

/*** BARRA DE FILTROS ***/

#filter-bar {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
  padding: 5px;
  /* padding-left: 30px; */
  /* width: 100%; */
  background-color: var(--light-box-color);
  max-height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 14px;
  box-shadow: 0px 4px 4px var(--light-shadow-box);
}

#filter-bar > .filter-option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  text-align: center;
  height: 70%;
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  border-right: 0.5px solid var(--light-text-grey);
  /* padding-right: 25px; */
}

#filter-bar > .filter-option:hover {
  color: var(--light-main-color);
  cursor: pointer;
}

#filter-bar > .filter-option:nth-last-child(1) {
  border-right: none;
}

/*** LISTA DE TRABAJOS ***/

#job-list {
  /* flex-basis: 1; */
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 500px;
  max-height: 900px;
  overflow: scroll;
  /* background-color: red; */
}

.job-card {
  display: flex;
  position: relative;
  /* justify-content: space-between; */
  background-color: var(--light-box-color);
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 4px 4px var(--light-shadow-box);
}

.img-job-container {
  width: 110px;
  /* background-color: red; */
}

.job-card:hover {
  cursor: pointer;
  border: 3px solid var(--light-main-color);
}

.img-job-container > img {
  max-width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.job-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.job-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.job-location {
  font-style: italic;
}

.new-job-tag {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  background-color: var(--ligth-green-tag);
  width: 75px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  color: var(--light-box-color);
  font-weight: 700;
}
/*** DESCRIPCION COMPLETA DEL TRABAJO ***/

#job-display {
  display: flex;
  position: relative;
  flex-direction: column;
  grid-column: 3/4;
  grid-row: 3/4;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: var(--light-box-color);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px var(--light-shadow-box);
}

.job-resume {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid var(--light-text-grey);
}

.job-data {
  display: flex;
  flex-direction: column;
}

.job-date {
  font-size: 0.9rem;
  opacity: 0.9;
}

.job-text {
  text-align: justify;
}

.job-text-em {
  display: block;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.job-options {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 1rem 1rem;
  /* justify-content: center; */
  background-color: var(--light-main-color);
  color: var(--light-box-color);
  font-weight: 700;
  /* padding: 1rem; */
}

.job-option {
  text-align: center;
  flex-basis: 100%;
  padding: 1rem;
  color: var(--options-color);
}

.job-option:hover {
  cursor: pointer;
  background-color: var(--light-option-hover);
  border-radius: 0px 0px 1rem 1rem;
}

.job-option:nth-last-child(2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
